$background-color-body: rgb(0,0,0);
$background-color-nav: rgb(25, 28, 36);
$background-color-nav-active: rgb(42,45,55);
$background-color-footer: rgb(55, 60, 67);
$background-color-main: rgb(247,248,248);
$color-text-nav: rgb(255,255,255);
$color-text: rgb(119,125,137);
$color-button: rgb(0,88,188);
$color-text-main: rgb(119,125,137);
$border-color:rgb(228,233,238);
$color-text-dark: rgb(56, 61, 67);